@page "/upload"
@using AutoJobApplication.Interfaces
@inject IFileStateService FileStateService
@inject IFileUploadService FileUploadService
@inject ISkillService SkillService
@inject ICvService CvService

<h3>Upload CV</h3>

<InputFile OnChange="HandleSelected" />

@if (errorMessage != null)
{
    <div class="alert alert-danger">@errorMessage</div>
}

@code {
    private string errorMessage;

    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            FileStateService.SetUploadedFile(file);
            var fileData = await FileUploadService.UploadFileAsync(file);

            if (fileData == null)
            {
                throw new ArgumentNullException("fileData", "The uploaded file data cannot be null.");
            }

            FileStateService.SetUploadedFile(file);
            FileStateService.UploadedFileData = fileData;

            errorMessage = null;
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred while uploading the file: " + ex.Message;
        }
    }
}
